body {
    margin: 0;
    overflow-x: hidden; 
    font-family: monospace;
}

#myVideo {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1; 
}

#boot {
    display: inline-block;
}

#fullscreenButton {
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 10px;
}

#nextButton {
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 10px;
}

#previousButton {
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 10px;
}

/* Style for the text overlay */
.video-text {
    border: none;
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}  

.floating-window {
    position: fixed;
    width: 1000px;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.99);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgb(136, 0, 255);
    cursor: move; /* Change cursor to indicate draggable */
    z-index: 10; /* Ensure it is above the video */
}
