body {
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* ... your other styles ... */

#myVideo {
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%;  /* Make the video span the full width */
    height: 100%; /* Make the video span the full height */
    z-index: -1; /* Place video behind content */
}

#myButton {
    border-radius: 10px;
    /* Style your button */
    background-color: #00bfff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* ... other styles ... */

#nextButton {
    border-radius: 10px;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 10px; /* Add some spacing between the buttons */
}

#previousButton {
    border-radius: 10px;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 10px; /* Add some spacing between the buttons */
}